td, th{
 	padding-left:20px!important; 
}
tfoot tr th, tfoot tr td{
	padding-bottom: 10px!important;
}
#tipo1,#tipo2{
	display: none;
}
.see-content{
	display: block!important;
}
.my-customers{
	background-color: rgb(35, 40, 45);
   	padding: 0;
}
.my-customers li{
	display: inline-block;
   	padding: 10px 20px;
   	color: #FFF;
   	margin: 0;
   	cursor: pointer;
   	font-weight: 700;
}
.currentActive{
	background-color: #0073AA!important;
   color: #fff!important;
}
.masinfo, .removecliente{
    float: left;
    border-radius: 2px;
    padding: 3px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin:0 1px;
 }
.masinfo{
   background-color:#3E883E;
}
.removecliente{
   background-color: #BD0000;
}
.datosdelcliente{
   position: fixed;
   width: 100%;
   height: 100%;
   left:0;
   top:0;
   background-color: rgba(0,0,0,0.5);
   display: none;
}
.cliente, .alertaremove{
   position: absolute;
   left: 50%;
   top: 50%;
   -webkit-transform:translate(-50%,-50%);
   -moz-transform:translate(-50%,-50%);
   transform:translate(-50%,-50%);
   background-color: white;
   padding:30px;
}
.aceptar, .cancelar{
      display: inline-block;
      width: 100px;
      border-radius: 2px;
      color: #fff;
      font-size: 16px;
      padding: 5px;
      cursor:pointer;
}
.aceptar{background-color: #3E883E;}
.cancelar{background-color:#0073AA;}
.alertaremove{
   display:none;
   text-align: center;
}
.cliente p{
    width: 48%;
    float: left;
    margin: 0 1%;
}
.cliente input[type="text"]{
   width: 100%;
   line-height:2;
   margin-bottom:6px;
}
.closedatos{
    right: 10px;
    top: 5px;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    color: #655B5B;
    cursor: pointer;
    padding: 2px;
    font-size: 25px;
}
.savedatos{
      background-color: rgb(0, 115, 170);
      font-size: 18px;
      margin: 0 auto;
      width: 200px;
      text-align: center;
      padding: 5px;
      color: #fff;
      border-radius: 3px;
      box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.68);
      margin-top: 20px;
      cursor: pointer;
}
.showdatos{
   display: block;
}